<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256546103195-abcdef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256546103195-abcdef</string>
	<key>API_KEY</key>
	<string>AIzaSyCayduPvyR3cT0gz7hsJ2a38HCeRYY-E3E</string>
	<key>GCM_SENDER_ID</key>
	<string>256546103195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cameraFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>plant-disease-demo-a7a8a</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-disease-demo-a7a8a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256546103195:ios:bfc4199457c0faea5f0b3e</string>
</dict>
</plist>